.form {
  max-width: 600px;
  min-height: 72px;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  grid-gap: 24px;
}

.input {
  width: 100%;
}

.button {
  align-self: center;
  height: fit-content;
}
